/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
}

.sect1{
  min-height: 400px;
  position: relative;
}

.form-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px 2%;
  width: 100%;
  max-width: 700px;
}

.custom-title{
  position: relative;
}

.custom-title h2{
  position: relative;
  font-size: 30px;
  color: #777;
  background-color: white;
  z-index: 2;
  padding-right: 10px;
  display: inline-block;
}

.custom-title > div{
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: #999;
  left: 0;
  top: 52px;
  z-index: 1;
}

.offset-equipe{
  position: relative;
  top: 89px;
}

@media screen and (max-width: 768px){
  .offset-equipe{
    top: 0;
  }
}